In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [4]:
bankmar = pd.read_csv(r"C:\Users\MONISH\OneDrive\Desktop\Git_upload\Machine learning Projects\Marketing Data\Bank_Marketing.csv")

In [5]:
bankmar.head()

,Age,Profession,Marital_Status,Education,Defaulter,Average_Balance,Own_House,Loans,ContactBy,CDay,CMonth,Duration,Campaign,Pdays,Previous,Poutcome,Deposit
0,59,admin,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,1
1,56,admin,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,1
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,1
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,1
4,54,admin,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,1

In [6]:
bankmar.tail()

,Age,Profession,Marital_Status,Education,Defaulter,Average_Balance,Own_House,Loans,ContactBy,CDay,CMonth,Duration,Campaign,Pdays,Previous,Poutcome,Deposit
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,0
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,0
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,0
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,0
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,0

In [7]:
# Arrange Data into independent and Target variables
X = bankmar.loc[:,'Age':'Poutcome']
Y = bankmar['Deposit']
# Scikit-learn 4-Step Modeling Pattern
# Step 1: Import the model you want to use
# This was already imported earlier in the notebook so commenting out
#from sklearn.tree import DecisionTreeClassifier
# Step 2: Make an instance of the Model

In [8]:
X

,Age,Profession,Marital_Status,Education,Defaulter,Average_Balance,Own_House,Loans,ContactBy,CDay,CMonth,Duration,Campaign,Pdays,Previous,Poutcome
0,59,admin,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown
1,56,admin,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown
4,54,admin,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown

In [9]:
le = preprocessing.LabelEncoder()
bankmar = bankmar.apply(le.fit_transform)

In [10]:
X = bankmar.loc[:,'Age':'Poutcome']
Y = bankmar['Deposit']

In [11]:
print(X)

       Age  Profession  Marital_Status  Education  Defaulter  Average_Balance  \
0       41           0               1          1          0             2288
1       38           0               1          1          0              469
2       23           9               1          1          0             1618
3       37           7               1          1          0             2356
4       36           0               1          2          0              608
...    ...         ...             ...        ...        ...              ...
11157   15           1               2          0          0              425
11158   21           7               1          1          0             1149
11159   14           9               2          1          0              453
11160   25           9               1          1          0              424
11161   16           9               1          1          0              424

       Own_House  Loans  ContactBy  CDay  CMonth  Duration  Campaign  Pdays  \
0              1      0          2     4       8      1021         0      0
1              0      0          2     4       8      1283         0      0
2              1      0          2     4       8      1246         0      0
3              1      0          2     4       8       577         0      0
4              0      0          2     4       8       671         1      0
...          ...    ...        ...   ...     ...       ...       ...    ...
11157          1      0          0    19       0       255         0      0
11158          0      0          2    15       6        81         3      0
11159          0      0          0    18       1       154         1      0
11160          0      1          0     7       8         7         1    155
11161          0      0          0     8       5       626         0      0

       Previous  Poutcome
0             0         3
1             0         3
2             0         3
3             0         3
4             0         3
...         ...       ...
11157         0         3
11158         0         3
11159         0         3
11160         5         0
11161         0         3

[11162 rows x 16 columns]

In [12]:
print(Y)

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: Deposit, Length: 11162, dtype: int64

In [13]:

#from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=0)

In [14]:
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
# Split the dataset train and test to build regression model

In [15]:
# Build the Decision Tree Regressor model
from sklearn.tree import DecisionTreeRegressor
dtrbankmar = DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,max_features=None, max_leaf_nodes=None,
                              min_impurity_decrease=0.0, min_impurity_split=None,min_samples_leaf=1, min_samples_split=2,
                              min_weight_fraction_leaf=0.0, presort='deprecated', random_state=0, splitter='best')




dtrbankmar.fit(X_train, Y_train)

TypeError: __init__() got an unexpected keyword argument 'min_impurity_split'

In [ ]:
params = dtrbankmar.get_params()
print(params)

In [ ]:
Y_pred = dtrbankmar.predict(X_test)

In [ ]:
# Calculate the R square values , Intercept and slope coefficients
r_sq2 =dtrbankmar.score(X_train, Y_train)
print('coefficient of determination:', r_sq2)

In [ ]:
from sklearn.metrics import r2_score
print('r2:',r2_score(Y_test, Y_pred))

In [ ]:
x_ax = range(len(Y_test))
plt.plot(x_ax, Y_test, linewidth=1, label="original")
plt.plot(x_ax, Y_pred, linewidth=1.1, label="predicted")
plt.title("Y_test and Y_predicted data")
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.legend(loc='best',fancybox=True, shadow=True)
plt.grid(True)
plt.show()

In [ ]:
#Random Forest Regressor

In [ ]:
bankmar1 = pd.read_csv(r"C:\Sansys UK\DataSceince\Datascience Training\Oct2021\W4_Monday 1 Nov 2021\Bank_Marketing.csv")

In [ ]:
bankmar1.head()

In [ ]:
bankmar1.info()

In [ ]:
le = preprocessing.LabelEncoder()
bankmar1 = bankmar1.apply(le.fit_transform)

In [ ]:
X1 = pd.DataFrame(bankmar1.loc[:,'Age':'Poutcome'])
Y1 = pd.DataFrame(bankmar1['Deposit'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X1, Y1, test_size=0.2, random_state=0)
X_train1 = X_train1.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True) #retain index 
                                                        
                                                        
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=0)
#X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [ ]:
# Build the Random Forest Regressor model
from sklearn.ensemble import RandomForestRegressor
rfbankmar1 = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse', max_depth=None, max_features='auto', 
                              max_leaf_nodes=None, max_samples=None, min_impurity_decrease=0.0, min_impurity_split=None, 
                              min_samples_leaf=1, min_samples_split=2, min_weight_fraction_leaf=0.0, n_estimators=100, 
                              n_jobs=None, oob_score=False, random_state=42, verbose=0, warm_start=False)

rfbankmar1.fit(X_train1, Y_train1.values.ravel())

In [ ]:
params2 = rfbankmar1.get_params()
print(params2)

In [ ]:
Y_pred1 = rfbankmar1.predict(X_test1)

In [ ]:
from sklearn.metrics import r2_score
print('r2:', r2_score(Y_test1, Y_pred1))

In [ ]:
r_sq1 = rfbankmar1.score(X_train1, Y_train1)
print('coefficient of determination:', r_sq1)

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test1, Y_pred1))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test1, Y_pred1))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test1, Y_test1)))

In [ ]:
#Linear Regression

In [ ]:
bankmar2 = pd.read_csv(r"C:\Sansys UK\DataSceince\Datascience Training\Oct2021\W4_Monday 1 Nov 2021\Bank_Marketing.csv")

In [ ]:
bankmar2.head()

In [ ]:
bankmar2.info()

In [ ]:
le = preprocessing.LabelEncoder()
bankmar2 = bankmar2.apply(le.fit_transform)

In [ ]:
X2 = pd.DataFrame(bankmar1.loc[:,'Age':'Poutcome'])
Y2 = pd.DataFrame(bankmar1['Deposit'])

In [ ]:
# Split the dataset train and test to build regression model
from sklearn.model_selection import train_test_split
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X2, Y2, test_size = 0.3, random_state = 0)

In [ ]:
# Build the Regression model
from sklearn.linear_model import LinearRegression
regbankmar = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
regbankmar.fit(X_train2, Y_train2)

In [ ]:
# Predict values
Y_pred2 = regbankmar.predict(X_test2)

In [ ]:
#get parameters
params = regbankmar.get_params()
print(params)

In [ ]:
# Calculate the R square values , Intercept and slope coefficients
r_sq = regbankmar.score(X_train2, Y_train2)
print('coefficient of determination:', r_sq)
print('intercept:', regbankmar.intercept_)
print('slope:', regbankmar.coef_)

In [ ]:
from sklearn.metrics import r2_score
print('r2:', r2_score(Y_test2, Y_pred2))

In [ ]:
# Calculate the MAE, MSE, RMSE errors
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test2, Y_pred2))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test2, Y_pred2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test2, Y_pred2)))
print('mean_absolute_percentage_error:', np.mean(np.abs((Y_test2 - Y_pred2) / Y_test2)))